@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  font-family: 'Noto Sans', sans-serif;
}

header {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding-top: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 0;
}

header img {
  max-width: 20px;
  max-height: auto;
}

header img:hover {
  cursor: pointer;
}

#search {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: 1 / span 2;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding-left: 28px;
  padding-right: 28px;
}

#search-bar {
  border-radius: 25px;
  border: none;
  background-color: #e2e8f0;
  padding-left: 10px;
}

#search-bar:focus {
  outline: none;
}

#user-info {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-weight: bold;
}

#greeting {
  display: grid;
  grid-column: span 2;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: 18px;
  padding-left: 30px;
}

#greeting > div > :nth-child(2) {
  font-size: 1.30rem;
  font-weight: bold;
}

#project-tools {
  display: grid;
  grid-column: span 1;
  grid-template-columns: repeat(3, 96px);
  align-items: center;
  justify-content: end;
  gap: 22px;
  padding-right: 48px;
}

#project-tools button {
  border-radius: 25px;
  border: none;
  background-color: #1992d4;
  color: white;
  padding: 8px;
  font-weight: bold;
  font-size: 0.90rem;
}

#project-tools button:hover {
  cursor: pointer;
}

nav {
  background-color: #1992d4;
  display: grid;
  grid-column: 1;
  grid-row: 1 / span 2;
  grid-template-rows: auto 1fr;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: white;
  font-weight: bold;
  row-gap: 36px;
}

#navigation-header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
}

#navigation-header img {
  max-width: 36px; 
}

#navigation-links {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 36px;
}

#navigation-links div {
  display: grid;
  row-gap: 14px;
}

.navigation-link {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 14px;
  padding-left: 8px;
  align-items: center;
}

.navigation-link img {
  max-width: 20px;
}

.navigation-link img:hover, .navigation-link div:hover {
  cursor: pointer;
}

main {
  background-color: #e2e8f0;
  display: grid;
  grid-column: 2;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#projects-section {
  display: grid;
  grid-row: 1 / -1;
  grid-template-columns: repeat(2, 1fr);
}

#announcements-section {
  display: grid;
}

#trending-section {
  display: grid;
  grid-column: 2;
}

.trending-item {
  display: grid;
  grid-template-columns: auto 1fr;
}